<div>

  <div class="form-group">
    <label>name</label>
    <input class="form-control" name="name" [(ngModel)]="name" />
  </div>

  <div class="form-group">
    <label>email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="email" />
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="password" />
  </div>


  <div class="form-group">
    <button class="btn btn-default" (click)="addUser()">Create</button>
  </div>


</div>
